{%  extends "base.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body>
    <form method="POST" class="form-signin" style="color: white">

        <div class="container ">
            {{ form.hidden_tag() }}     <!--To prevent attacks: Cross Site Request Forgery-->

            <h1 class="h3 font-weight-normal mt-5">
                Please Login
            </h1>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
        
            <br>

            <div>
                <h6>Don't have an account?</h6>
                <a class="btn btn-sm btn-secondary href={{ url_for('register_page') }}">Sign Up</a>
            </div>
            
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
        </div>

    </form>
</body>
{% endblock %}